/* *{
  margin: 0;
} */
body{
  background-image: url("bg.png");
  background-size: cover;
  overflow: hidden;
}
.cat{
  position: absolute;
  left: 200px;
  top: 100px;
  background-image: url("cat.png");
  width: 800px;
  height:1005px;
  background-repeat: no-repeat;
  animation: idle 5s infinite alternate;
}

.scroll{
  position: absolute;
  left: 1000px;
  background-image: url("scroll.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1350px;
  height:630px;
}

p{
  font-family: 'Mansalva', cursive;
  position: absolute;
  left: 200px;
  top: 50px;
  font-size: 92px;
}
.ask{
  font-family: 'Cinzel Decorative', cursive;
  position: absolute;
  left: 600px;
  top: 270px;
  font-size: 92px;
  background-color: transparent;
  border:none;
  color:#d94aff;
  text-shadow: 2px 2px grey;
}
.ask:hover{
  color:#b243ff;
  font-size: 95px;
  text-shadow: 2px 2px #722ca3;
}
.ask:focus{
  outline: none;
}

@keyframes idle {
  from {
    transform:translate(-5%,-5%);

  }
  to {
    transform: translate(5%,5%);
  }
}
